{% load blog_tags %}
{% load static %}
<!--this tells django to load staticfiles template tags provide by 
  django.contrib.staticfiles app in settings 
-->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- the block tag defines a block that gets overwritten by the child-->
    <link href="{% static "css/blog.css" %}" rel ="stylesheet">
</head>
<body>
  <div id="container">
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My blog</h2>
  <h3 style="color:blue"><b><a href="{% url "blog:post_search" %}">Search
    </h3></b>
    <p>This is Devoure's  blog.<br>
    I've written {% total_posts %} posts so far.</p>
    <h4 style="color:blue"><i><a href="{% url "blog:post_feed" %}">Subcribe to
          my RSS feed</a></h4></i>
    <h3>Latest posts:<br></h3>
    {% show_latest_posts 4 %}
    <h3>Most commented posts:</br></h3>
    {% get_most_commented as most_commented %}
    <ul>
      {% for post in most_commented %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>
  </div>
  </div>
</body>  
</html>

