{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Soka Blog{% endblock %}
{% block content %}
<h1>Soka blog</h1>
{% if query %}
<h2>Posts containing  "{{ query }}"</h2>
<h3><b>
  {% with results.count as total_results %}
  Found {{ total_results }} result{{ total_results|pluralize}}
  {% endwith %}</b>
</h3>

{% for post in results %}
<h4>
   <a href="{{ post.get_absolute_url }}">
     {{post.title}}
   </a>
   </h4>  
<p style="color:red">
<i> Published {{ post.publish }} by {{ post.author }}</i>
</p>
{{ post.body|markdown|truncatewords_html:5 }}
 {% empty %}

 <p>No posts found for this query.</p>
{% endfor %}
<p><a href="{%url "blog:post_search" %}">Search again</a></p>
{% else %}
<h2>Enter search query below:</h3>
<form method="get">
  {{form.as_p}}
  <input type="submit" value="Search">
</form>

{% endif %}
{% endblock %}
